@{
    ViewBag.Title = "视频列表";
    Layout = "~/Views/Shared/_LayoutCenter.cshtml";
}
@{List<Model.zhancaiw_video> list = ViewData["list"] as List<Model.zhancaiw_video>;}

<div style="margin-left: 20px; margin-top: 5px;">
    <div class="layui-elem-quote">
        <p>视频列表</p>
    </div>
    <br />
    <div>
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col>
                <col width="80">
                <col width="60">
                <col width="60">
                <col width="120">
                <col width="120">
            </colgroup>
            <thead>
                <tr>
                    <th>标题</th>
                    <th>描述</th>
                    <th>浏览量</th>
                    <th>状态</th>
                    <th>类型</th>
                    <th>添加时间</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                @if (list != null)
                {
                    foreach (var item in list)
                    {
                    <tr>
                        <td>@item.videoTitle</td>
                        <td>@item.videoDescripe</td>
                        <td>@item.clickCount</td>
                        <td>@Enum.GetName(typeof(Utility.Enum_VideoType),item.sortID)</td>
                        <td>@Enum.GetName(typeof(Utility.Enum_VideoStatus), item.videoStatus)</td>
                        <td>@Convert.ToDateTime(item.addTime).ToString("yyyy-MM-dd HH:mm:ss")</td>
                        <td>
                            <button class="layui-btn layui-btn-small" title="点击编辑" onclick="window.location='/center/videoedit/@(item.videoID).html#@Html.ViewContext.RouteData.Values["id"]'"><i class="layui-icon"></i></button>
                            <button class="layui-btn layui-btn-small" title="点击删除" onclick="btn_videodelete(@item.videoID)"><i class="layui-icon"></i></button>
                        </td>
                    </tr>
                    }
                }
                else
                {
                    <tr>
                        <td colspan="7">暂无数据！</td>
                    </tr>
                }
                <tr>
                    <td colspan="7" style="text-align: center;">
                        <div class="layui-box layui-laypage layui-laypage-default" id="layui-laypage-0">
                            @Html.Raw(Utility.MyPageBar.PageSortCenter((int)ViewBag.pageIndex, (int)ViewBag.pageCount, ViewBag.urlParams))
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

@section centerfooter{
    <script type="text/javascript">       
        function btn_videodelete(id) {
            //配置一个透明的询问框
            layer.msg('确定删除该视频吗？删除后不可恢复啊！', {
                time: 20000, //20s后自动关闭
                btn: ['确定删除', '取消']
                ,success: function(layero){
                    var btn = layero.find('.layui-layer-btn');
                    btn.find('.layui-layer-btn0').click(
                        function () {
                            $.post("/Center/VideoDelete", {id:id}, function (serverData) {
                                var jsondata = $.parseJSON(serverData);
                                if (jsondata.status==0) {
                                    layer.msg(jsondata.msg);
                                    window.location.reload();
                                } else {
                                    layer.msg(jsondata.msg);
                                }
                            });
                        }
                        );
                }
            });
        }
    </script>
}